.bestt .b1{
    position: absolute;
width: 1700.08px;
height: 479.07px;
left: -0.04px;
top: 2664.33px;

/* Black */

background: #232323;
}

.bestt .b2{
    position: absolute;
    width: 99.74px;
    height: 58.82px;
    left: 110.66px;
    top: 2696.71px;
}

.bestt h1{
    position: absolute;
width: 98px;
height: 32px;
left: 95.66px;
top: 2789.44px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 21.3443px;
line-height: 32px;
/* identical to box height */


color: #FFFFFF;

}

.bestt p{
    position: absolute;
width: 304.91px;
height: 189px;
left: 95.66px;
top: 2825.17px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;

color: #F0F0F0;
}

.bestt1 h1{
    position: absolute;
    width: 114px;
    height: 30px;
    left: 573.6px;
    top: 2780.44px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    
    text-align: center;
    
    color: #F0F0F0;
}

.bestt1 h2{position: absolute;
width: 80px;
height: 27px;
left: 578.26px;
top: 2823.84px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* identical to box height */


color: #F0F0F0;
}

.bestt1 h3{position: absolute;
width: 72px;
height: 27px;
left: 578.26px;
top: 2861.19px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* identical to box height */


color: #F0F0F0;
}

.bestt1 h4{position: absolute;
width: 80px;
height: 27px;
left: 578.26px;
top: 2900.84px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* identical to box height */


color: #F0F0F0;
}

.bestt1 h5{position: absolute;
width: 72px;
height: 27px;
left: 578.26px;
top: 2941.19px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* identical to box height */


color: #F0F0F0;
}

.bestt2 .b3{
    position: absolute;
width: 267.99px;
height: 207.57px;
left: 856.63px;
top: 2780.44px;
}

.bestt3 .b4{
    position: absolute;
width: 153.16px;
height: 70.86px;
left: 1282.08px;
top: 2780.44px;
}

.bestt4 h1{
    position: absolute;
width: 611px;
height: 27px;
left: 550.54px;
top: 3070.77px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* identical to box height */

text-align: center;

color: #F0F0F0;

}