@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.offer2{
        width: 100%;
        padding:6rem 1rem; 
        max-width: 1120px;
        margin:auto;
        display:grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap:20px; 
}


.cardd1{
    position: absolute;
width: 322px;
height: 488px;
left: 100px;
top: 2260px;

background: #FAFAF8;
/* Shadow (XS) */

box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
border-radius: 23.4736px;
}
.cardd1 .immmg1{
    position: absolute;
width: 58.18px;
height: 27.92px;
left: 19px;
top: 30.27px;

background: #48C479;
}

.cardd1 .iimg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 250px;
    top: 5%;
    padding: 10.6147px;
    gap: 8.85px;
    width: 42.46px;
height: 42.46px;
    background: #EEEDF3;
    backdrop-filter: blur(17.6911px);
    border-radius: 29.1904px;  
    flex: none;
    order: 1;
    flex-grow: 0;
}
.cardd1 .img1{
    width: 133.34px;
height: 177.69px;
position: relative;
left: 25.5%;
top: 10.5%;
flex: none;
order: 1;
flex-grow: 0;
}

.cardd1 h3{
width: 231px;
height: 30px;
position:relative;
left: 10%;
top:10%;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
letter-spacing: -0.02em;
color: #323232;
flex: none;
order: 0;
flex-grow: 0;
}

.cardd1 h5{
width: 115px;
height: 20px;
position:relative;
top: 14%;
left:10%;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 20px;
letter-spacing: -0.02em;
color: #818181;
flex: none;
order: 1;
flex-grow: 0;
}

.cardd1 p{
    width: 64px;
height: 27px;
position:relative;
top: 16%;
left:10%;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
letter-spacing: -0.02em;
text-decoration-line: line-through;
color: #535665;
flex: none;
order: 0;
flex-grow: 0;
}

.cardd1 p1{
    width: 70px;
height: 20px;
position: absolute;
top: 73%;
left: 32%;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 27px;
/* identical to box height */

letter-spacing: -0.02em;

color: #FF905A;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.cardd1 p2{
    width: 73px;
height: 33px;
position: absolute;
top:72.7%;
left: 70%;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 33px;
/* identical to box height */

letter-spacing: -0.02em;

color: #323232;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.cardd1 button{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 15px 97px;
gap: 10px;
position: relative;
width: 284px;
height: 54px;
left: 15px;
top: 110px;
background: #232323;
border-radius: 18px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14.8px;
line-height: 24px;
letter-spacing: -0.02em;
color: #FFFFFF;
}



.cardd2{
position: absolute;
width: 322px;
height: 488px;
left: 520px;
top: 2260px;
background: #FAFAF8;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
border-radius: 23.4736px;
}

.cardd2 .immmg1{
    position: absolute;
width: 58.18px;
height: 27.92px;
left: 19px;
top: 30.27px;

background: #48C479;
}

.cardd2 .iimg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 250px;
    top: 5%;
    padding: 10.6147px;
    gap: 8.85px;
    width: 42.46px;
height: 42.46px;
    background: #EEEDF3;
    backdrop-filter: blur(17.6911px);
    border-radius: 29.1904px;  
    flex: none;
    order: 1;
    flex-grow: 0;
}

.cardd2 .img2{
    width: 133.34px;
height: 176.16px;
position: relative;
left: 80px;
top: 7%;
flex: none;
order: 1;
flex-grow: 0;
}

.cardd2 h3{
    width: 217px;
    height: 30px;
    position: relative;
    top: 10%;
    left: 10%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    
    letter-spacing: -0.02em;
    
    color: #323232;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.cardd2 h5{
    width: 115px;
    height: 20px;
    position: relative;
    top: 16%;
    left: 10%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    /* identical to box height */
    
    letter-spacing: -0.02em;
    
    color: #818181;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.cardd2 p{
    width: 64px;
    height: 27px;
    position: relative;
    top: 17%;
    left: 10%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    letter-spacing: -0.02em;
    text-decoration-line: line-through;
    
    color: #535665;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.cardd2 p1{
    width: 70px;
height: 20px;
position: absolute;
top: 73%;
left: 32%;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 27px;
/* identical to box height */

letter-spacing: -0.02em;

color: #FF905A;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.cardd2 p2{
    width: 73px;
height: 33px;
position: absolute;
top:72.7%;
left: 70%;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 33px;
/* identical to box height */

letter-spacing: -0.02em;

color: #323232;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.cardd2 button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 97px;
    gap: 10px;
    position: relative;
    width: 284px;
    height: 54px;
    left: 15px;
    top: 110px;
    background: #232323;
    border-radius: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14.8px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    }

.cardd3 {
    position: absolute;
    width: 322px;
    height: 488px;
    left: 930px;
    top: 2260px;
    
    background: #FAFAF8;
    /* Shadow (XS) */
    
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 23.4736px;
}

.cardd3 .immmg1{
    position: absolute;
width: 58.18px;
height: 27.92px;
left: 19px;
top: 30.27px;

background: #48C479;
}

.cardd3 .iimg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 250px;
    top: 5%;
    padding: 10.6147px;
    gap: 8.85px;
    width: 42.46px;
height: 42.46px;
    background: #EEEDF3;
    backdrop-filter: blur(17.6911px);
    border-radius: 29.1904px;  
    flex: none;
    order: 1;
    flex-grow: 0;
}

.cardd3 .img3{
    position: relative;
    width: 195.17px;
    height: 145.88px;
    left: 65.92px;
    top: 70.36px;
    
   
}

.cardd3 h3{
    width: 110px;
    height: 30px;
    position: relative;
    top:17.5%;
    left: 10%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    
    letter-spacing: -0.02em;
    
    color: #323232;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.cardd3 h5{
    width: 115px;
height: 20px;
position: relative;
    top:20.5%;
    left: 10%;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 20px;
/* identical to box height */

letter-spacing: -0.02em;

color: #818181;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
    
}

.cardd3 p{
    width: 64px;
    height: 27px;
    position: relative;
    top:23.5%;
    left: 10%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    letter-spacing: -0.02em;
    text-decoration-line: line-through;
    
    color: #535665;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.cardd3 p1{
    width: 70px;
height: 20px;
position: absolute;
top: 73%;
left: 32%;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 27px;
/* identical to box height */

letter-spacing: -0.02em;

color: #FF905A;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.cardd3 p2{
    width: 73px;
height: 33px;
position: absolute;
top:72.7%;
left: 70%;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 33px;
/* identical to box height */

letter-spacing: -0.02em;

color: #323232;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.cardd3 button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 97px;
    gap: 10px;
    position: relative;
    width: 284px;
    height: 54px;
    left: 15px;
    top: 137.5px;
    background: #232323;
    border-radius: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14.8px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    }
.cardd4 {
    position: absolute;
    width: 322px;
    height: 488px;
    left: 1320px;
    top: 2255px;
    
    background: #FAFAF8;
    /* Shadow (XS) */
    
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 23.4736px;
}

.cardd4 .immmg1{
    position: absolute;
width: 58.18px;
height: 27.92px;
left: 19px;
top: 30.27px;

background: #48C479;
}

.cardd4 .iimg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 250px;
    top: 5%;
    padding: 10.6147px;
    gap: 8.85px;
    width: 42.46px;
height: 42.46px;
    background: #EEEDF3;
    backdrop-filter: blur(17.6911px);
    border-radius: 29.1904px;  
    flex: none;
    order: 1;
    flex-grow: 0;
}

.cardd4 .img4{

    position: absolute;
    width: 188.55px;
    height: 251.25px;
    left: 49.23px;
    top: 20.22px;
    
}

.cardd4 h3{
    width: 287px;
    height: 30px;
    position: relative;
    top:45.5%;
    left: 10%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    
    letter-spacing: -0.02em;
    
    color: #323232;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.cardd4 h5{
    width: 115px;
    height: 20px;
    position: relative;
    top:50.5%;
    left: 10%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    /* identical to box height */
    
    letter-spacing: -0.02em;
    
    color: #818181;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.cardd4 p{

    width: 64px;
    height: 27px;
    position: relative;
    top:55.5%;
    left: 10%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    letter-spacing: -0.02em;
    text-decoration-line: line-through;
    
    color: #535665;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.cardd4 p1{
    width: 70px;
height: 20px;
position: absolute;
top: 73%;
left: 32%;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 27px;
/* identical to box height */

letter-spacing: -0.02em;

color: #FF905A;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.cardd4 p2{
    width: 73px;
height: 33px;
position: absolute;
top:72.7%;
left: 70%;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 33px;
/* identical to box height */

letter-spacing: -0.02em;

color: #323232;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.cardd4 button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 97px;
    gap: 10px;
    
    position: relative;
    width: 284px;
    height: 54px;
    left: 15px;
    top: 290px;
    background: #232323;
    border-radius: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14.8px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    }

    .ccardd1{
        position: absolute;
    width: 322px;
    height: 488px;
    left: -1220px;
    top: 570px;
    
    background: #FAFAF8;
    /* Shadow (XS) */
    
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 23.4736px;
    }
    .ccardd1 .immmg1{
        position: absolute;
    width: 58.18px;
    height: 27.92px;
    left: 19px;
    top: 30.27px;
    
    background: #48C479;
    }
    
    .ccardd1 .iimg{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 250px;
        top: 5%;
        padding: 10.6147px;
        gap: 8.85px;
        width: 42.46px;
    height: 42.46px;
        background: #EEEDF3;
        backdrop-filter: blur(17.6911px);
        border-radius: 29.1904px;  
        flex: none;
        order: 1;
        flex-grow: 0;
    }
    .ccardd1 .img1{
        width: 133.34px;
    height: 177.69px;
    position: relative;
    left: 25.5%;
    top: 10.5%;
    flex: none;
    order: 1;
    flex-grow: 0;
    }
    
    .ccardd1 h3{
    width: 231px;
    height: 30px;
    position:relative;
    left: 10%;
    top:10%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #323232;
    flex: none;
    order: 0;
    flex-grow: 0;
    }
    
    .ccardd1 h5{
    width: 115px;
    height: 20px;
    position:relative;
    top: 14%;
    left:10%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #818181;
    flex: none;
    order: 1;
    flex-grow: 0;
    }
    
    .ccardd1 p{
        width: 64px;
    height: 27px;
    position:relative;
    top: 16%;
    left:10%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.02em;
    text-decoration-line: line-through;
    color: #535665;
    flex: none;
    order: 0;
    flex-grow: 0;
    }
    
    .ccardd1 p1{
        width: 70px;
    height: 20px;
    position: absolute;
    top: 73%;
    left: 32%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 27px;
    /* identical to box height */
    
    letter-spacing: -0.02em;
    
    color: #FF905A;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    }
    
    .ccardd1 p2{
        width: 73px;
    height: 33px;
    position: absolute;
    top:72.7%;
    left: 70%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    /* identical to box height */
    
    letter-spacing: -0.02em;
    
    color: #323232;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    }
    
    .ccardd1 button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 97px;
    gap: 10px;
    position: relative;
    width: 284px;
    height: 54px;
    left: 15px;
    top: 110px;
    background: #232323;
    border-radius: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14.8px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    }
    
    
    
    .ccardd2{
    position: absolute;
    width: 322px;
    height: 488px;
    left: 520px;
    top: 2840px;
    background: #FAFAF8;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 23.4736px;
    }
    
    .ccardd2 .immmg1{
        position: absolute;
    width: 58.18px;
    height: 27.92px;
    left: 19px;
    top: 30.27px;
    
    background: #48C479;
    }
    
    .ccardd2 .iimg{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 250px;
        top: 5%;
        padding: 10.6147px;
        gap: 8.85px;
        width: 42.46px;
    height: 42.46px;
        background: #EEEDF3;
        backdrop-filter: blur(17.6911px);
        border-radius: 29.1904px;  
        flex: none;
        order: 1;
        flex-grow: 0;
    }
    
    .ccardd2 .img2{
        width: 133.34px;
    height: 176.16px;
    position: relative;
    left: 80px;
    top: 7%;
    flex: none;
    order: 1;
    flex-grow: 0;
    }
    
    .ccardd2 h3{
        width: 217px;
        height: 30px;
        position: relative;
        top: 10%;
        left: 10%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height */
        
        letter-spacing: -0.02em;
        
        color: #323232;
        
        
        /* Inside auto layout */
        
        flex: none;
        order: 0;
        flex-grow: 0;
    }
    
    .ccardd2 h5{
        width: 115px;
        height: 20px;
        position: relative;
        top: 16%;
        left: 10%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;
        /* identical to box height */
        
        letter-spacing: -0.02em;
        
        color: #818181;
        
        
        /* Inside auto layout */
        
        flex: none;
        order: 1;
        flex-grow: 0;
    }
    
    .ccardd2 p{
        width: 64px;
        height: 27px;
        position: relative;
        top: 17%;
        left: 10%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        /* identical to box height */
        
        letter-spacing: -0.02em;
        text-decoration-line: line-through;
        
        color: #535665;
        
        
        /* Inside auto layout */
        
        flex: none;
        order: 0;
        flex-grow: 0;
    }
    
    .ccardd2 p1{
        width: 70px;
    height: 20px;
    position: absolute;
    top: 73%;
    left: 32%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 27px;
    /* identical to box height */
    
    letter-spacing: -0.02em;
    
    color: #FF905A;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    }
    
    .ccardd2 p2{
        width: 73px;
    height: 33px;
    position: absolute;
    top:72.7%;
    left: 70%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    /* identical to box height */
    
    letter-spacing: -0.02em;
    
    color: #323232;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    }
    
    .ccardd2 button{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 15px 97px;
        gap: 10px;
        position: relative;
        width: 284px;
        height: 54px;
        left: 15px;
        top: 110px;
        background: #232323;
        border-radius: 18px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14.8px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        }
    
    .ccardd3 {
        position: absolute;
        width: 322px;
        height: 488px;
        left: 930px;
        top: 2840px;
        
        background: #FAFAF8;
        /* Shadow (XS) */
        
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 23.4736px;
    }
    
    .ccardd3 .immmg1{
        position: absolute;
    width: 58.18px;
    height: 27.92px;
    left: 19px;
    top: 30.27px;
    
    background: #48C479;
    }
    
    .ccardd3 .iimg{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 250px;
        top: 5%;
        padding: 10.6147px;
        gap: 8.85px;
        width: 42.46px;
    height: 42.46px;
        background: #EEEDF3;
        backdrop-filter: blur(17.6911px);
        border-radius: 29.1904px;  
        flex: none;
        order: 1;
        flex-grow: 0;
    }
    
    .ccardd3 .img3{
        position: relative;
        width: 195.17px;
        height: 145.88px;
        left: 65.92px;
        top: 70.36px;
        
       
    }
    
    .ccardd3 h3{
        width: 110px;
        height: 30px;
        position: relative;
        top:17.5%;
        left: 10%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height */
        
        letter-spacing: -0.02em;
        
        color: #323232;
        
        
        /* Inside auto layout */
        
        flex: none;
        order: 0;
        flex-grow: 0;
    }
    
    .ccardd3 h5{
        width: 115px;
    height: 20px;
    position: relative;
        top:20.5%;
        left: 10%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    /* identical to box height */
    
    letter-spacing: -0.02em;
    
    color: #818181;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
        
    }
    
    .ccardd3 p{
        width: 64px;
        height: 27px;
        position: relative;
        top:23.5%;
        left: 10%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        /* identical to box height */
        
        letter-spacing: -0.02em;
        text-decoration-line: line-through;
        
        color: #535665;
        
        
        /* Inside auto layout */
        
        flex: none;
        order: 0;
        flex-grow: 0;
    }
    
    .ccardd3 p1{
        width: 70px;
    height: 20px;
    position: absolute;
    top: 73%;
    left: 32%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 27px;
    /* identical to box height */
    
    letter-spacing: -0.02em;
    
    color: #FF905A;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    }
    
    .ccardd3 p2{
        width: 73px;
    height: 33px;
    position: absolute;
    top:72.7%;
    left: 70%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    /* identical to box height */
    
    letter-spacing: -0.02em;
    
    color: #323232;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    }
    
    .ccardd3 button{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 15px 97px;
        gap: 10px;
        position: relative;
        width: 284px;
        height: 54px;
        left: 15px;
        top: 137.5px;
        background: #232323;
        border-radius: 18px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14.8px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        }
    .ccardd4 {
        position: absolute;
        width: 322px;
        height: 488px;
        left: 1320px;
        top: 2840px;
        
        background: #FAFAF8;
        /* Shadow (XS) */
        
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 23.4736px;
    }
    
    .ccardd4 .immmg1{
        position: absolute;
    width: 58.18px;
    height: 27.92px;
    left: 19px;
    top: 30.27px;
    
    background: #48C479;
    }
    
    .ccardd4 .iimg{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 250px;
        top: 5%;
        padding: 10.6147px;
        gap: 8.85px;
        width: 42.46px;
    height: 42.46px;
        background: #EEEDF3;
        backdrop-filter: blur(17.6911px);
        border-radius: 29.1904px;  
        flex: none;
        order: 1;
        flex-grow: 0;
    }
    
    .ccardd4 .img4{
    
        position: absolute;
        width: 188.55px;
        height: 251.25px;
        left: 49.23px;
        top: 20.22px;
        
    }
    
    .ccardd4 h3{
        width: 287px;
        height: 30px;
        position: relative;
        top:45.5%;
        left: 10%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height */
        
        letter-spacing: -0.02em;
        
        color: #323232;
        
        
        /* Inside auto layout */
        
        flex: none;
        order: 0;
        flex-grow: 0;
    }
    
    .ccardd4 h5{
        width: 115px;
        height: 20px;
        position: relative;
        top:50.5%;
        left: 10%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;
        /* identical to box height */
        
        letter-spacing: -0.02em;
        
        color: #818181;
        
        
        /* Inside auto layout */
        
        flex: none;
        order: 1;
        flex-grow: 0;
    }
    
    .ccardd4 p{
    
        width: 64px;
        height: 27px;
        position: relative;
        top:55.5%;
        left: 10%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        /* identical to box height */
        
        letter-spacing: -0.02em;
        text-decoration-line: line-through;
        
        color: #535665;
        
        
        /* Inside auto layout */
        
        flex: none;
        order: 0;
        flex-grow: 0;
    }
    
    .ccardd4 p1{
        width: 70px;
    height: 20px;
    position: absolute;
    top: 73%;
    left: 32%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 27px;
    /* identical to box height */
    
    letter-spacing: -0.02em;
    
    color: #FF905A;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    }
    
    .ccardd4 p2{
        width: 73px;
    height: 33px;
    position: absolute;
    top:72.7%;
    left: 70%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    /* identical to box height */
    
    letter-spacing: -0.02em;
    
    color: #323232;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    }
    
    .ccardd4 button{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 15px 97px;
        gap: 10px;
        
        position: relative;
        width: 284px;
        height: 54px;
        left: 15px;
        top: 290px;
        background: #232323;
        border-radius: 18px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14.8px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        }